<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="env">

	<!-- 综合监控 环境监测仪 -->

	<!--查询所有 环境监测仪 数据  -->
	<select id="getEnvInfo" resultType="java.util.LinkedHashMap">
		SELECT
			env.id,
			env.healthStat,
			env.stat,
			env.humi,
			env.temp,
			env.tempPV,
			env.windDir,
			env.windSpeed,
			env.air,
			env.htv,
			env.hg,
			env.ht,
			env.crtTim,
			env.equ_num
		FROM
			iscs_equ_env env

	</select>
	<!--查询最新 环境监测仪 数据  -->
	<select id="getEnvInfoNew" resultType="java.util.LinkedHashMap" parameterType="java.util.LinkedHashMap" >
			SELECT
				env.*
			FROM
				iscs_equ_env env,
				sys_bas_equ sbe
			WHERE
				env.equ_num = sbe.equ_num
			AND sbe.pws_id = #{pws_id}
			AND TO_DAYS(crtTim) =  TO_DAYS(NOW())
			<!-- <![CDATA[ AND env.stat<>0 ]]> -->
			ORDER BY
				sbe.equ_num,
				env.crtTim DESC
			LIMIT 1 
	</select>
	
	
	<!--查询最新 环境监测仪 数据  -->
	<select id="getEnvInfoNewFirst" resultType="java.util.LinkedHashMap" parameterType="java.util.LinkedHashMap" >
			SELECT
				env.*
			FROM
				iscs_equ_env env,
				sys_bas_equ sbe
			WHERE
				env.equ_num = sbe.equ_num
			AND sbe.pws_id = #{pws_id}
			<![CDATA[ AND env.stat<>0 ]]>
			ORDER BY
				sbe.equ_num,
				env.crtTim 
			LIMIT 1 
	</select>
	
	
	<!-- 环境监测仪 查询最新设备和保修概况 -->
	<select id="getEnvInfoNewById" parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">
			SELECT
				(
					SELECT
						sba.rtd_pow
					FROM
						sys_bas_app sba
					WHERE
						sba.id = sbe.equ_mod_id
				) rtd_pow,
				(
					SELECT
						sba.app_mod
					FROM
						sys_bas_app sba
					WHERE
						sba.id = sbe.equ_mod_id
				) app_mod,
				(
					SELECT
						sbm.man_nam
					FROM
						sys_bas_man sbm,
						sys_bas_app sba
					WHERE
						sbm.id = sba.man_id
					AND sba.id = sbe.equ_mod_id
				) man_nam,
				sbe.pro_tim,
				sbe.equ_num,
				sbe.equ_cod,
				sbe.lst_mat_tim,
				sbe.fnl_mat_tim,
				sbe.nxt_mat_tim
			FROM
				iscs_equ_env iev,
				sys_bas_equ sbe
			WHERE
				iev.equ_num = sbe.equ_num
			AND sbe.del_flag = 0
			AND iev.id = #{id}
	</select>
	
	
	
	
	
	
	<!-- 环境监测仪 按 年 查询图表信息  -->
	<select id="getEnvInfoByYear" parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">
				SELECT
				MONTH,
				id,sum(htv) as htv,
				sum(hgv) as hgv,
				sum(windSpeed) as windSpeed,
				sum(windDir) as windDir
			FROM
				(
					SELECT
						id,htv,hgv,windSpeed,windDir,
						DATE_FORMAT(crtTim, '%m') MONTH
					FROM
						iscs_equ_env_history
					WHERE
						DATE_FORMAT(crtTim, '%Y') = #{year} and equ_num = #{equ_num}
				) a
			GROUP BY
				MONTH
			
	</select>
	
	<!-- 环境监测仪 按 年 查询列表信息  -->
	<select id="getEnvInfoByYearList" parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">
			SELECT
				id,
				htv,
				hgv,
				windSpeed,
				windDir,
				crtTim
			FROM
				iscs_equ_env_history
			where DATE_FORMAT(crtTim, '%Y') = #{year} and equ_num = #{equ_num}
			ORDER BY
				crtTim DESC
	</select>
	
	
	
	<!-- 环境监测仪 按 月 查询图表信息  -->
	<select id="getEnvInfoByMonth" parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">
				
			SELECT
				DATE_FORMAT(lefttable.date, '%Y-%m') AS yearMonth,
				lefttable.date,
				IFNULL(righttable.htv, '0') htv,
				IFNULL(righttable.hgv, '0') hgv,
				IFNULL(righttable.windSpeed, '0') windSpeed,
				IFNULL(righttable.windDir, '0') windDir,
				righttable.crtTim
			FROM
				(
					SELECT
						ADDDATE(y. FIRST, x.d - 1) AS date
					FROM
						(
							SELECT
								01 AS d
							UNION ALL
								SELECT
									02
								UNION ALL
									SELECT
										03
									UNION ALL
										SELECT
											04
										UNION ALL
											SELECT
												05
											UNION ALL
												SELECT
													06
												UNION ALL
													SELECT
														07
													UNION ALL
														SELECT
															08
														UNION ALL
															SELECT
																09
															UNION ALL
																SELECT
																	10
																UNION ALL
																	SELECT
																		11
																	UNION ALL
																		SELECT
																			12
																		UNION ALL
																			SELECT
																				13
																			UNION ALL
																				SELECT
																					14
																				UNION ALL
																					SELECT
																						15
																					UNION ALL
																						SELECT
																							16
																						UNION ALL
																							SELECT
																								17
																							UNION ALL
																								SELECT
																									18
																								UNION ALL
																									SELECT
																										19
																									UNION ALL
																										SELECT
																											20
																										UNION ALL
																											SELECT
																												21
																											UNION ALL
																												SELECT
																													22
																												UNION ALL
																													SELECT
																														23
																													UNION ALL
																														SELECT
																															24
																														UNION ALL
																															SELECT
																																25
																															UNION ALL
																																SELECT
																																	26
																																UNION ALL
																																	SELECT
																																		27
																																	UNION ALL
																																		SELECT
																																			28
																																		UNION ALL
																																			SELECT
																																				29
																																			UNION ALL
																																				SELECT
																																					30
																																				UNION ALL
																																					SELECT
																																						31
						) x,
						(
							SELECT
								CONCAT(#{year}, '-01') AS FIRST,
								DAY (
									LAST_DAY(
										str_to_date(#{year}, '%Y-%m')
									)
								) AS last
						) y
					WHERE
						x.d  &lt;= y.last
					AND ADDDATE(y. FIRST, x.d - 1)  &lt;= CURDATE()
				) AS lefttable
			LEFT JOIN (
				SELECT
					sum(af2.htv) AS htv,
					sum(af2.hgv) AS hgv,
					sum(af2.windSpeed) AS windSpeed,
					sum(af2.windDir) AS windDir,
					af2.crtTim,
					DATE_FORMAT(af2.crtTim, '%Y-%m-%d') AS gptime
				FROM
					iscs_equ_env_history af2
				WHERE
					DATE_FORMAT(af2.crtTim, '%Y-%m') = #{year} and equ_num = #{equ_num}
				GROUP BY
					DATE_FORMAT(af2.crtTim, '%Y-%m-%d')
			) AS righttable ON DATE_FORMAT(lefttable.date, '%Y-%m-%d') = righttable.gptime
							
			
	</select>
	
	<!-- 环境监测仪 按 月 查询列表信息  -->
	<select id="getEnvInfoByMonthList" parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">
			SELECT
				htv,
				hgv,
				windSpeed,
				windDir,
				crtTim
			FROM
				iscs_equ_env_history
			WHERE
				DATE_FORMAT(crtTim, '%Y-%m') = #{year} and equ_num = #{equ_num}
			ORDER BY
				crtTim DESC
	</select>
	
	
	
	<!-- 环境监测仪 按 日 查询列表信息  -->
	<select id="getEnvInfoByDayList" parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">
			SELECT
				id,
				htv,
				hgv,
				windSpeed,
				windDir,
				crtTim
			FROM
				iscs_equ_env_history
			WHERE
				equ_num = #{equ_num}
			<if test="sta_tim != null and sta_tim != ''">
		
				<![CDATA[ AND crtTim >= #{sta_tim} ]]>
	
			</if>
			
			<if test="end_tim != null and end_tim != ''">
			
				<![CDATA[ AND crtTim < #{end_tim} ]]>
				
			</if>
			
			ORDER BY
				crtTim 
			LIMIT #{start}, #{everyPage}
	</select>
	<!-- 环境监测仪 按 日 查询列表信息  -->
	<select id="getEnvInfoByDayListCou" parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">
			SELECT
				COUNT(id) cou
				
			FROM
				iscs_equ_env_history
			WHERE
				equ_num = #{equ_num}
			<if test="sta_tim != null and sta_tim != ''">
		
				<![CDATA[ AND crtTim >= #{sta_tim} ]]>
	
			</if>
			
			<if test="end_tim != null and end_tim != ''">
			
				<![CDATA[ AND crtTim < #{end_tim} ]]>
				
			</if>
	</select>
	
	<!-- 环境监测仪 按 日 查询列表信息  -->
	<select id="getEnvInfoByYearGraph" parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">
			SELECT
				id,
				htv,
				hgv,
				windSpeed,
				windDir,
				crtTim
			FROM
				iscs_equ_env
			WHERE
				equ_num = #{equ_num}
			<if test="sta_tim != null and sta_tim != ''">
		
				<![CDATA[ AND crtTim >= #{sta_tim} ]]>
	
			</if>
			
			<if test="end_tim != null and end_tim != ''">
			
				<![CDATA[ AND crtTim < #{end_tim} ]]>
				
			</if>
			
			ORDER BY
				crtTim
	</select>
	
	<!-- 环境监测仪 按 日 查询列表信息  -->
	<select id="getEnvInfoByYearGraphHistory" parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">
			SELECT
				id,
				htv,
				hgv,
				windSpeed,
				windDir,
				crtTim
			FROM
				iscs_equ_env_history
			WHERE
				equ_num = #{equ_num}
			<if test="sta_tim != null and sta_tim != ''">
		
				<![CDATA[ AND crtTim >= #{sta_tim} ]]>
	
			</if>
			
			<if test="end_tim != null and end_tim != ''">
			
				<![CDATA[ AND crtTim < #{end_tim} ]]>
				
			</if>
			
			ORDER BY
				crtTim
	</select>
	
	
	<!-- 获取 电池 设备的日辐射-->
	<select id="getEnvDayHg" resultType="java.util.LinkedHashMap">
			SELECT
				(
					(
						SELECT
							env.hg
						FROM
							iscs_equ_env env
						ORDER BY
							env.crtTim DESC
						LIMIT 1
					) - (
						SELECT
							env.hg
						FROM
							iscs_equ_env env
						WHERE
							env.crtTim &lt; date(SYSDATE())
						ORDER BY
							env.crtTim DESC
						LIMIT 1
					)
				) dayHg
	
	</select>
	
	
	
	
	
	
	
	<!-- ====获取 电池信息列表=== --> 
	
	<!-- 获取某电站中某设备类型的所有设备信息-->
	<select id="getEnvLstByPwsEquTyp" parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">
		SELECT
			sbe.equ_num
		FROM
			sys_bas_equ sbe,
			sys_bas_app sba
		WHERE
			sbe.equ_mod_id = sba.id
		AND sba.app_typ_id = #{app_typ_id} 
		AND sbe.pws_id = #{pws_id}
		and sbe.del_flag = 0
		ORDER BY sbe.equ_sor,sbe.id 

	</select>
	
	<!-- 获取 电池 设备的最新实时数据(列表页中)-->
	<select id="getEnvInfByEquNum" parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">
		SELECT
			env.id,
				env.healthStat,
				env.stat,
				env.humi,
				env.temp,
				env.tempPV,
				env.windDir,
				env.windSpeed,
				env.air,
				env.htv,
				env.hg,
				env.ht,
				env.crtTim,
				env.equ_num
				
		FROM
			iscs_equ_env env
		WHERE
			env.equ_num = #{equ_num}
		ORDER BY
			env.crtTim DESC
		LIMIT 1
	</select>
	
	<!-- 获取某站内环境检测仪的设备数据-->
	<select id="getEquInfByPwsIdByForEnv" parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">
		
		SELECT
			sbe.*
		FROM
			sys_bas_equ sbe,
			sys_bas_pws sbp,
			sys_bas_app sba,
			sys_bas_app_typ sbat
		WHERE
			sbe.equ_mod_id = sba.id
		AND sba.app_typ_id = sbat.id
		AND	sbp.id = sbe.pws_id
		AND sbat.typ_ide = 'HJJCY'
		AND	sbp.id = #{pws_id}
		ORDER BY
			sbe.id
		LIMIT 1
	</select>
	
	
	
	
	
</mapper>