.Wdate{
	border:#999 1px solid;
	height:20px;
	background:#fff url(../../../images/datenew.png) no-repeat right!important;
	background-size: 20px;
}
.Wdate::-ms-clear{display:none;}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}