<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pvs">

	<!-- 综合监控  光伏逆变器 -->

	<!-- 光伏逆变器-详情 （获取最新那条数据）-->
	<select id="getIscsPvsInfByEquNumTopOne" parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">

		SELECT
			iep.stat,
			iep.healthStat,
			iep.timeAll,
			iep.ua,
			iep.ia,
			iep.pa,
			iep.psum,
			iep.pf,
			iep.freq,
			iep.powerDay,
			iep.powerAll,
			iep.uab,
			iep.udc1,
			iep.pdcSum,
			iep.idc1,
			iep.idc2,
			iep.idc3,
			iep.idc4,
			iep.idc5,
			iep.idc6,
			iep.idc7,
			iep.idc8,
			iep.idc9,
			iep.idc10
			
		FROM
			iscs_equ_pvs iep
		WHERE iep.equ_num = #{equ_num}
		<!-- <![CDATA[ AND iep.crtTim >= DATE(SYSDATE()) ]]>
		
		<![CDATA[ AND iep.crtTim < SYSDATE()]]>
		ORDER BY iep.crtTim DESC LIMIT 1 -->
			AND TO_DAYS(iep.crtTim) =  TO_DAYS(NOW())
		ORDER BY iep.crtTim DESC LIMIT 1
		
	</select>
	
	
	
	<!-- 光伏逆变器-详情 （获取光伏设备的直/交流的电流、电压、功率曲线（当天的）） -->
	<select id="getIscsPvsAcDcPIVDisRateCurves"  parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">
		SELECT
			iep.ua,
			iep.uab,
			iep.ia,
			iep.udc1,
			iep.idc1,
			iep.idc2,
			iep.idc3,
			iep.idc4,
			iep.idc5,
			iep.idc6,
			iep.idc7,
			iep.idc8,
			iep.idc9,
			iep.idc10,
			iep.psum,
			iep.qsum,
			iep.pdcSum,
			iep.disRate,
			iep.crtTim
		FROM
			iscs_equ_pvs iep
		WHERE equ_num = #{equ_num} 
		
		<if test="sta_tim != null and sta_tim != ''">
		
			<![CDATA[ AND iep.crtTim >= #{sta_tim} ]]>

		</if>
		
		<if test="end_tim != null and end_tim != ''">
		
			<![CDATA[ AND iep.crtTim < #{end_tim} ]]>
			
		</if>
		
		ORDER BY iep.crtTim
		
	</select>
	
	<!-- 光伏逆变器-详情 （获取光伏设备的直/交流的电流、电压、功率曲线（当天的）） -->
	<select id="getIscsPvsDayPowerHistogram"  parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">
		
		SELECT
		
			iep.powerAll powerDay,
			iep.crtTim tol_tim
			
		FROM
		
			iscs_equ_pvs iep
			
		WHERE equ_num = #{equ_num} 
		
		<if test="sta_tim != null and sta_tim != ''">
		
			<![CDATA[ AND iep.crtTim >= #{sta_tim} ]]>

		</if>
		
		<if test="end_tim != null and end_tim != ''">
		
			<![CDATA[ AND iep.crtTim < #{end_tim} ]]>
			
		</if>
		
		ORDER BY iep.crtTim DESC
		LIMIT 1		
	</select>
	<!-- 光伏逆变器-详情 （获取光伏设备的直/交流的电流、电压、功率曲线（当天的））(上一天最后一条) -->
	<select id="getIscsPvsDayPowerHistogramFirst"  parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">
		
		SELECT
		
			iep.powerAll powerDay,
			iep.crtTim tol_tim
			
		FROM
		
			iscs_equ_pvs_history iep
			
		WHERE equ_num = #{equ_num} 
		
		<if test="sta_tim != null and sta_tim != ''">
		
			<![CDATA[ AND iep.crtTim < #{sta_tim} ]]>
			
		</if>
		
		ORDER BY iep.crtTim DESC
		LIMIT 1		
	</select>
	
	
	<!-- 光伏逆变器-详情 （获取光伏设备的直/交流的电流、电压、功率曲线（历史的）） -->
	<select id="getIscsPvsAcDcPIVDisRateCurvesHistory"  parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">
		SELECT
			iep.ua,
			iep.uab,
			iep.ia,
			iep.udc1,
			iep.idc1,
			iep.idc2,
			iep.idc3,
			iep.idc4,
			iep.idc5,
			iep.idc6,
			iep.idc7,
			iep.idc8,
			iep.idc9,
			iep.idc10,
			iep.psum,
			iep.qsum,
			iep.pdcSum,
			iep.disRate,
			iep.crtTim
		FROM
			iscs_equ_pvs_history iep
		WHERE equ_num = #{equ_num} 
		
		<![CDATA[ AND iep.crtTim >= #{sta_tim} ]]>
		
		<![CDATA[ AND iep.crtTim < #{end_tim}]]>
		ORDER BY iep.crtTim 
	</select>
	
	<!-- 光伏逆变器-详情 （获取光伏设备的直/交流的电流、电压、功率曲线（历史的）） -->
	<select id="getIscsPvsAcDcPIVDisRateCurvesHistoryLst"  parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">
		SELECT
			iep.ua,
			iep.uab,
			iep.ia,
			iep.udc1,
			iep.idc1,
			iep.idc2,
			iep.idc3,
			iep.idc4,
			iep.idc5,
			iep.idc6,
			iep.idc7,
			iep.idc8,
			iep.idc9,
			iep.idc10,
			iep.psum,
			iep.qsum,
			iep.pdcSum,
			iep.disRate,
			iep.crtTim tol_tim
		FROM
			iscs_equ_pvs_history iep
		WHERE equ_num = #{equ_num} 
		
		<![CDATA[ AND iep.crtTim >= #{sta_tim} ]]>
		
		<![CDATA[ AND iep.crtTim < #{end_tim}]]>
		ORDER BY iep.crtTim
		LIMIT #{start},#{everyPage}	
	</select>
	
	<!-- 光伏逆变器-详情 （获取光伏设备的直/交流的电流、电压、功率曲线（历史的）） -->
	<select id="getIscsPvsAcDcPIVDisRateCurvesHistoryLstCou"  parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">
		SELECT
			COUNT(iep.id) cou
		FROM
			iscs_equ_pvs_history iep
		WHERE equ_num = #{equ_num} 
		
		<![CDATA[ AND iep.crtTim >= #{sta_tim} ]]>
		
		<![CDATA[ AND iep.crtTim < #{end_tim}]]>
	</select>
	
	<!-- 光伏逆变器-详情 （获取光伏设备的直/交流的电流、电压、功率曲线（当天的）） -->
	<select id="getIscsPvsDayPowerHistogramHistory"  parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">
		
		SELECT
		
			iep.powerDay
			
		FROM
		
			iscs_equ_pvs_history iep
			
		WHERE equ_num = #{equ_num} 
		
		<if test="sta_tim != null and sta_tim != ''">
		
			<![CDATA[ AND iep.crtTim >= #{sta_tim} ]]>

		</if>
		
		<if test="end_tim != null and end_tim != ''">
		
			<![CDATA[ AND iep.crtTim < #{end_tim} ]]>
			
		</if>
		
		ORDER BY iep.crtTim DESC LIMIT 1
				
	</select>
	
	
	<!-- 获取某电站中某设备类型的所有设备信息-->
	<select id="getEquLstByPwsEquTyp" parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">
		SELECT
			sbe.equ_num,
			sbe.equ_nam
		FROM
			sys_bas_equ sbe,
			sys_bas_app sba
		WHERE
			sbe.equ_mod_id = sba.id
		AND sba.app_typ_id = #{app_typ_id} 
		AND sbe.pws_id = #{pws_id}
		and sbe.del_flag = 0
		ORDER BY sbe.equ_sor,sbe.id 
		

	</select>
	
	<!-- 获取PVS设备的最新实时数据(列表页中)-->
	<select id="getPvsInfByEquNum" parameterType="java.util.LinkedHashMap" resultType="java.util.LinkedHashMap">
		SELECT
			iep.id,
			iep.psum,
			iep.qsum,
			iep.uab,
			iep.ua,
			iep.ia,
			iep.freq,
			iep.powerDay,
			iep.stat
		FROM
			iscs_equ_pvs iep
		WHERE
			iep.equ_num = #{equ_num}
			
		ORDER BY
			iep.crtTim DESC
		LIMIT 1
	</select>
	
	
</mapper>