<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gcfd.storage.dao.OrderLabelMapper" >
  <resultMap id="BaseResultMap" type="com.gcfd.storage.entity.OrderLabel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="lst_modify_user_id" property="lstModifyUserId" jdbcType="VARCHAR" />
    <result column="lst_modify_time" property="lstModifyTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
    <result column="branch_id" property="branchId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, label, create_user_id, create_time, lst_modify_user_id, lst_modify_time, is_del, 
    branch_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gcfd_order_label
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gcfd_order_label
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gcfd.storage.entity.OrderLabel" >
    insert into gcfd_order_label (id, label, create_user_id, 
      create_time, lst_modify_user_id, lst_modify_time, 
      is_del, branch_id)
    values (#{id,jdbcType=INTEGER}, #{label,jdbcType=VARCHAR}, #{createUserId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lstModifyUserId,jdbcType=VARCHAR}, #{lstModifyTime,jdbcType=TIMESTAMP}, 
      #{isDel,jdbcType=CHAR}, #{branchId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gcfd.storage.entity.OrderLabel" >
    insert into gcfd_order_label
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lstModifyUserId != null" >
        lst_modify_user_id,
      </if>
      <if test="lstModifyTime != null" >
        lst_modify_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="branchId != null" >
        branch_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lstModifyUserId != null" >
        #{lstModifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="lstModifyTime != null" >
        #{lstModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=CHAR},
      </if>
      <if test="branchId != null" >
        #{branchId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gcfd.storage.entity.OrderLabel" >
    update gcfd_order_label
    <set >
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lstModifyUserId != null" >
        lst_modify_user_id = #{lstModifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="lstModifyTime != null" >
        lst_modify_time = #{lstModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=CHAR},
      </if>
      <if test="branchId != null" >
        branch_id = #{branchId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gcfd.storage.entity.OrderLabel" >
    update gcfd_order_label
    set label = #{label,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      lst_modify_user_id = #{lstModifyUserId,jdbcType=VARCHAR},
      lst_modify_time = #{lstModifyTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=CHAR},
      branch_id = #{branchId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getCurLabel" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from gcfd_order_label
    where branch_id = #{branchId,jdbcType=VARCHAR}
    and is_del = 'F'
  </select>
</mapper>